.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* see notes below */
  grid-gap: 1em;
  width: 100%;
  .projectCard {
    display: flex;
    cursor: pointer;
    box-shadow: 5px 5px 8px #424242;
    border-radius: 1rem;
    padding: 1rem;
    margin: 0.5rem;
    border: 1px solid black;

    .name {
      font-size: 14px;
      font-weight: bold;
    }
  }
}
