.navbar {
  display: flex;
  background: #61dafb;

  .listItems {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-right: 24px;
    padding-left: 0;

    .left, .right {
      display: flex;
    }
  }
}

.row {
  display: flex;
  flex-direction: row;
}