.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #7E57C2;
  color: white;

  .navigation {
    display: flex;
    flex-direction: row;
  }
}

.profile-btn {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  margin: 0.1rem;

  &.no-img {
    background-color: orange;
  }
}