<div class="navbar">
  <div class="navigation">
    <button routerLink="dashboard" mat-button>Dashboard</button>
    <button *ngIf="isProjectsVisible" mat-button [routerLink]="authStore.isAdmin ? 'projects' : 'projects/my-projects'">Projects</button>
    <button *ngIf="authStore.user" mat-button routerLink="users">Users</button>
  </div>
  <div class="profile">
    <ng-container *ngIf="!authStore.user">
      <button routerLink="login" mat-button>Login</button>
      <button routerLink="register" mat-button>Register</button>
    </ng-container>

    <button *ngIf="authStore.user" [ngClass]="{ 'no-img': !authStore.user?.photo }" class="profile-btn" mat-icon-button [matMenuTriggerFor]="menu">
      {{ authStore.userCredentials }}
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>person</mat-icon>
        <span>Profile</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </div>
</div>
