<button class="create" color="primary" (click)="openDialog()" mat-raised-button>Create project</button>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef> Description </th>
    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
  </ng-container>

  <ng-container matColumnDef="active">
    <th mat-header-cell *matHeaderCellDef>Active</th>
    <td mat-cell *matCellDef="let project">
      <mat-icon *ngIf="!project.deleted">check</mat-icon>
      <mat-icon *ngIf="project.deleted">close</mat-icon>
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let project">
      <button *ngIf="authStore.isAdmin || authStore.isManager" (click)="openDialog(project)" matTooltip="Edit" mat-icon-button>
        <mat-icon>edit</mat-icon>
      </button>
      <button *ngIf="authStore.isAdmin" (click)="delete(project.id)" matTooltip="Delete" mat-icon-button>
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
