.title {
  text-align: center;
}

.wrapper {
  display: flex;
  width: 100%;
  padding: 3rem;
  gap: 24px;

  .column {
    border: 1px solid black;
    width: calc(calc(100% / 4) - 40px);

    .list {
      padding: 0;

      .listItem {
        display: flex;
        padding: 4px;
        border: 1px solid grey;
        align-content: center;
        align-items: center;
        justify-content: space-between;
      }
    }
  }
}

.moveToTitle {
  font-weight: bold !important;
  padding: 4px;
  border-bottom: 1px solid dodgerblue;
}

.issueTitle {
  font-weight: bold;
}

.developer {
  padding: 0 4px;
  font-size: 12px;
}