<form [formGroup]="form" class="register-form">
  <mat-card-content class="user-container">
    <mat-form-field>
      <input formControlName="firstName" matInput placeholder="First name">
    </mat-form-field>

    <mat-form-field>
      <input formControlName="lastName" matInput placeholder="Last name">
    </mat-form-field>

    <mat-form-field>
      <input formControlName="email" matInput placeholder="Email">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Role</mat-label>
      <mat-select formControlName="role">
        <mat-option *ngFor="let role of roles" [value]="role.toLowerCase()">{{role}}</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card-content>

  <mat-card-actions>
    <button [disabled]="form.invalid" class="register" mat-raised-button color="primary" (click)="confirm()">Confirm</button>
    <button mat-raised-button color="warn" [mat-dialog-close]="false">Cancel</button>
  </mat-card-actions>
</form>